<section>
    <div class="container-fluid" id="products">
        <div class="row">
            <div class="lupe-txt col-6 col-lg-6 col-md-6 col-sm-12">
                <div class="txt-box col-8">
                    <div class="txt-box col-8">
                        <figure class="text-start">
                        <blockquote class="blockquote">
                        <h2 class="decoTitle">Deco Vintage</h2>
                        <figcaption class="blockquote-footer">
                        <P>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Delectus, ratione dolorem excepturi magni ut repudiandae alias non nesciunt, fugiat debitis doloribus commodi accusamus impedit sit ad. Est nam totam ea. </P>
                        </figcaption>
                        </blockquote>
                        </figure>
                    </div>
                    <br>
                    <br>
                    <div class="txt-box col-8">
                        <figure class="text-start">
                        <blockquote class="blockquote">
                        <h2 class="quikTitle">Quick Art</h2>
                        <figcaption class="blockquote-footer">
                        <P>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Delectus, ratione dolorem excepturi magni ut repudiandae alias non nesciunt, fugiat debitis doloribus commodi accusamus impedit sit ad. Est nam totam ea.</P>
                        </figcaption>
                        </blockquote>
                        </figure>
                    </div>

                </div>
            </div>
            <div class="lupe-logos col-6 col-lg-6 col-md-6 col-sm-12">
                <div class="card">
                    <div class="imgLogo">
                        <img src="../../../assets/logos/decoLogo.png" alt="Deco Vintage">
                    </div>
                    <div class="content text-center">
                        <div class="details">
                            <h2>Tienda Deco<br><span>Objetos decorativos</span></h2>
                            <br>
                            <!-- <div class="info">
                                <h3>156<br><span>Post</span></h3>
                                <h3>435<br><span>Follow</span></h3>
                                <h3>638<br><span>Following</span></h3>
                            </div> -->
                            <div class="actionBtn" >
                                <button class="gradient-btn me-3"><i class="fa-brands fa-instagram me-2"></i>Follow</button>
                                <button class="gradient-btn"><i class="fa-solid fa-cart-shopping me-2"></i>Comprar</button>
                            </div>
                        </div>
                    </div>
                </div>
                
                <!-- <br><br><br><br><br><br><br> -->
                
                <div class="card">
                    <div class="imgLogo">
                        <img src="../../../assets/logos/quickLogo.png" alt="Deco Vintage">
                    </div>
                    <div class="content text-center">
                        <div class="details">
                            <h2>Tienda Deco<br><span>Objetos decorativos</span></h2>
                            <br>
                            <!-- <div class="info">
                                <h3>156<br><span>Post</span></h3>
                                <h3>435<br><span>Follow</span></h3>
                                <h3>638<br><span>Following</span></h3>
                            </div> -->
                            <div class="actionBtn" >
                                <button class="gradient-btn me-3" ><i class="fa-brands fa-instagram me-2"></i>Follow</button>
                                <button class="gradient-btn"><i class="fa-solid fa-cart-shopping me-2"></i>Comprar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>            
        </div>
    </div>
</section>