<section>

        <div class="container-fluid footer pt-5">
            <div class="container py-5">
                <div class="row g-5">
                    <div class="col-lg-4 col-md-6">
                        <h4 class="text-uppercase mb-4">Contáctame</h4>
                        <div class="d-flex align-items-center mb-2">
                            <div class="flex-shrink-0 me-3">
                                <span class="fa fa-map-marker-alt text-danger"></span>
                            </div>
                            <span>123 Calle, San Luis, Argentina</span>
                        </div>
                        <div class="d-flex align-items-center mb-2">
                            <div class=" flex-shrink-0 me-3">
                                <span class="fa fa-phone-alt text-danger"></span>
                            </div>
                            <span>+549 262 12345</span>
                        </div>
                        <div class="d-flex align-items-center">
                            <div class=" flex-shrink-0 me-3">
                                <span class="fa-solid fa-envelope-open-text text-danger"></span>
                               
                            </div>
                            <span>info@lupearte.com</span>
                        </div>
                    </div>
                    <div class="siteMap col-lg-4 col-md-6">
                        <h4 class="text-uppercase mb-4">Mapa del sitio</h4>
                        <a class="btn btn-link" href="#aboutMe">Acerca de</a>
                        <a class="btn btn-link" href="#products">Productos</a>
                        <a class="btn btn-link" href="">Cursoss</a>
                        <a class="btn btn-link" href="">Cuadros</a>
                        <a class="btn btn-link" href="">Contacto</a>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <h4 class="text-uppercase mb-4">Newsletter</h4>
                        <div class="position-relative mb-4">
                            <input class="form-control border-0 w-100 py-3 ps-4 pe-5" type="text" placeholder="Your email">
                            <button type="button" class="btn btn-primary py-2 position-absolute top-0 end-0 mt-2 me-2">SignUp</button>
                        </div>
                        <div class="d-flex pt-1 m-n1">
                            <div class="social-content">
                                <div class="social-link me-3">
                                    <a  href="https://www.instagram.com/luperico_arte/" target="_blank"
                                    rel="noopener noreferrer" class="link">
                                        <i class="fab fa-instagram instagram"></i>
                                    </a>
                                </div>
                                <div class="social-link me-3">
                                    <a href="#" class="link">
                                        <i class="fab fa-twitter twitter"></i>
                                    </a>
                                </div>
                        
                                <div class="social-link me-3">
                                    <a  href="https://api.whatsapp.com/send?phone=2664208230"
                                    target="_blank" rel="noopener noreferrer" class="link">
                                        <i class="fab fa-whatsapp whatsapp"></i>
                                    </a>
                                </div>
                        
                                <div class="social-link me-3">
                                    <a href="https://www.facebook.com/lupericox" target="_blank"
                                    rel="noopener noreferrer" class="link">
                                        <i class="fab fa-facebook facebook"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="copyright px-5 pt-2">
                    <div class="row">
                        <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                            <i class="fa-regular fa-copyright"></i> <a class="border-bottom" href="#"> Lupe Arte</a>, Todos los derechos reservados.
                        </div>
                        <div class="col-md-6 text-center text-md-end">
                            Designed By <a class="border-bottom" href="https://www.instagram.com/germanico_83/">Germanico_83</a>
                            <br> 2022<a class="border-bottom" href="https://portfolioapger.web.app/" target="_blank">Web Designer</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
</section>