<section>
    <div class="container-fluid" id="pictures">
        <div class="row">
            <div class="lupe-avatar col-6 col-lg-6 col-md-6 col-sm-12">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis dicta inventore ipsam, commodi labore enim, eius cum maiores assumenda sit minus optio ipsa excepturi illo, non repellat? Fugit, nemo sit!
            </div>
            <div class="lupe-txt col-6 col-lg-6 col-md-6 col-sm-12">
                <div class="txt-box col-8">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque molestias hic beatae fugit aperiam ad ab dicta laboriosam cum. Tempora eaque sunt nihil necessitatibus minima accusamus consectetur, recusandae debitis dicta!
                </div>
            </div>            
        </div>
    </div>
</section>