<div id="top" class="lupe background-overlay">
<!-- Social Media icons -->    
    <div class="social-content">
        <div class="social-link me-3">
            <a  href="https://www.instagram.com/luperico_arte/" target="_blank"
            rel="noopener noreferrer" class="link">
                <i class="fab fa-instagram instagram"></i>
            </a>
        </div>
        <div class="social-link me-3">
            <a href="#" class="link">
                <i class="fab fa-twitter twitter"></i>
            </a>
        </div>

        <div class="social-link me-3">
            <a  href="https://api.whatsapp.com/send?phone=2664208230"
            target="_blank" rel="noopener noreferrer" class="link">
                <i class="fab fa-whatsapp whatsapp"></i>
            </a>
        </div>

        <div class="social-link me-3 mb-5">
            <a href="https://www.facebook.com/lupericox" target="_blank"
            rel="noopener noreferrer" class="link">
                <i class="fab fa-facebook facebook"></i>
            </a>
        </div>
    </div>
    <div class="lupe-arrow page-scroll home-arrow-down">
        <a class="" href="#aboutMe"><i class="fa fa-angle-double-down" aria-hidden="true"></i></a>
    </div>

</div>
<!--<div class="container-fluid">
    <div class="row">
        <div class="header">
            <div class="bannerHome background-overlay">
                <div class="lupe-content ">
                    <div class="login d-flex flex-row-reverse m-4 ">
                        <button class="btn btn-outline-success">Ingresar</button>
                    </div>
                </div>
                <div class="socialMedia d-flex flex-row-reverse me-4">
                    <ul class="align-bottom">
                        <li>
                            <h3>
                                <a class="nav-link" href="https://www.facebook.com/lupericox" target="_blank"
                                    rel="noopener noreferrer"><i class="fa-brands fa-facebook"></i></a>
                            </h3>
                        </li>
                        <li>
                            <h3>
                                <a class="nav-link" href="https://www.instagram.com/luperico_arte/" target="_blank"
                                    rel="noopener noreferrer"><i class="fa-brands fa-instagram"></i></a>
                            </h3>
                        </li>
                        <li>
                            <h3>
                                <a class="nav-link" href="https://api.whatsapp.com/send?phone=2664208230"
                                    target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-whatsapp"></i></a>
                            </h3>
                        </li>
                    </ul>
                </div>
                <div class="lupe-arrow page-scroll home-arrow-down">
                    <a class="" href="#intro"><i class="fa-solid fa-chevron-down" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>-->