<app-header></app-header>
<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="../assets/images/logo.png" alt="Lupe Arte">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"><i class="fa-solid fa-bars"></i></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav m-auto mb-2 mb-lg-0">
          <li class="nav-item me-2">
            <a class="nav-link" href="#aboutMe">Acerca de</a>
          </li>
          <li class="nav-item me-2">
            <a class="nav-link" href="#products">Productos</a>
          </li>
          <li class="nav-item dropdown me-2">
            <a class="nav-link " href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Cursos <i class="fa-solid fa-angle-down"></i>
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Reloj gigante</a></li>
              <li><a class="dropdown-item" href="#">Velador nordico</a></li>
              <li><a class="dropdown-item" href="#">Perchero repisa</a></li>
              <li><hr class="dropdown-divider"></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Cuadros</a>
          </li>
        </ul>
        <div class="d-flex me-4">
          <button class="btn gradient-btn"><i class="fa-solid fa-arrow-right-to-bracket me-1"></i> Ingresar</button>
        </div>
      </div>
    </div>
  </nav>
<app-aboutme></app-aboutme>
<app-products></app-products>
<app-pictures></app-pictures>
<app-courses></app-courses>
<app-footer></app-footer>